.title{
    font-family: 'PassionOne-Regular', sans-serif ;
    color:rgba(46, 28, 10, 0.782);
    font-size:50px;
    margin-bottom:5px;
    text-align: center;
    margin-top:30px;
}
.instruction{
    font-family: 'PassionOne-Regular', sans-serif ;
}

.button-style{
    font-family: 'PassionOne-Regular', sans-serif ;
}

.sub-title{
    font-family: 'PassionOne-Regular', sans-serif ;
    color:rgba(46, 28, 10, 0.782);
    font-size:30px;
    margin-bottom:15px;
    text-align: center;
}

.loader{
    font-family: 'PassionOne-Regular', sans-serif ;
    color:rgba(203, 94, 35, 0.782);
    font-size:70px;
    margin-bottom:15px;
    text-align: center;
}

.input-wrapper {
    margin-left:38%;
    
  }

.was-validated{
    margin-left:38%;
    
}

.input-group{
    margin-bottom:20px ;
}
  

.form-control{
    max-width:30%;
    
}

.dropdown{
    max-width:30%;
}

