/* @font-face{
    font-familty:'Roboto';
    font-style:normal;
    font-weight:400;
    src:local('Roboto'),local('Roboto-Regular'),url(./fonts/OFL.txt) format('woff2');
} */

@font-face {
    font-family: 'Rubik Pixels';
    font-style: normal;
    font-weight: 400;
    src: local('Rubik Pixels'), local('RubikPixels-Regular'), url(./fonts/RubikPixels-Regular.ttf) format('opentype');
  }

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: 400;
    src: local('Lobster'), local('Lobster-Regular'), url(./fonts/Lobster-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'TiltPrism';
    font-style: normal;
    font-weight: 400;
    src: local('TiltPrismr'), local('TiltPrism-Regular'), url(./fonts/TiltPrism-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'LibreBaskerville-Bold';
    font-style: normal;
    font-weight: 400;
    src: local('LibreBaskerville-Bold'), local('LibreBaskerville-Bold'), url(./fonts/LibreBaskerville-Bold.ttf) format('opentype');
}

@font-face {
    font-family: 'LibreBaskerville-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('LibreBaskerville-Regular'), local('LibreBaskerville-Regularr'), url(./fonts/LibreBaskerville-Regular.ttf) format('opentype');
}
@font-face {
    font-family: 'Anton-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Anton-Regular'), local('Anton-Regular'), url(./fonts/Anton-Regular.ttf) format('opentype');
}
@font-face {
    font-family: 'PassionOne-Bold';
    font-style: normal;
    font-weight: 400;
    src: local('PassionOne-Bold'), local('PassionOne-Bold'), url(./fonts/PassionOne-Bold.ttf) format('opentype');
}
@font-face {
    font-family: 'PassionOne-Regular';
    font-style: normal;
    font-weight: 400;
    src: local('PassionOne-Regular'), local('PassionOne-Regular'), url(./fonts/PassionOne-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'CracklingFire';
    font-style: normal;
    font-weight: 400;
    src: local('CracklingFire'), local('CracklingFire'), url(./fonts/CracklingFire.ttf) format('opentype');
}
  