.nav-custom {
    background-color: rgba(36, 34, 34, 0.715);
    
  }
  
  .nav-custom .navbar-brand,
  .nav-custom .nav-link,
  .nav-custom .navbar-toggler-icon {
    color: rgb(221, 225, 146) !important;
    font-family: 'PassionOne-Regular', sans-serif;
    ;
  }

.nav-link{
    color: rgb(221, 225, 146) !important;
}
  